@use 'var';

body * {
    font-family: Roboto,sans-serif;
}

/*
    Form
*/

.form {
    width: 600px;
    margin: 0 auto;
    &__field {
        padding: 5px;
    }
    &__input {
        height: auto;
        width: 430px;
        padding: 10px;
        font-size: 16px;
    }
    &__label {
        display: inline-block;
        width: 100px;
        margin-right: 10px;
    }
    &__submit {
        height: 43px;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 10px;
        padding: 0 20px;
    }
    &__error {
        margin-top: 10px;
        color: var.$error;
    }
}

/*
    Dark theme config
*/
body.dark {
    background-color: var.$bg-dark;
    color: var.$color-dark;

    .form {
        background-color: var.$bg-dark;
        &__submit {
            color: var.$bg-dark;
        }
    }
}